<div class="wrapper">
  <div class="inner">
    <div class="container"
         style="width: auto;height: auto;color: rgb(0,0,0);margin: 75px 40px 0px 0px;">

      <div class="row"
           style="margin: 0px;width: 1600px;height: 860px;">

        <div class="col offset-xxl-1"
             style=" width: 734px;height: 830px ;margin: 0px;padding: 0px;background: #000;">

          <div style="border-right: 1px solid #148d65;height: 830px;">
            <div style="height: 33px;background: #148D65;">
              <span class="add-btn" style="color: #fff; margin-left: 20px;">+</span>

            <span
              style="width: 56px;height: 21px;font-size: 18px;color: #FFFFFF;margin: 6px 164px 6px 108px;">Сервіс</span>
              <span
                style="color: #FFFFFF;font-size: 18px;width: 56px;height: 21px;margin-top: 6px;margin-bottom: 6px;margin-right: 164px;">Логін</span>
              <span
                style="color: #FFFFFF;font-size: 18px;width: 56px;height: 21px;margin-top: 6px;margin-bottom: 6px;margin-right: 108px;">Пароль</span>
            </div>

            <app-password-field></app-password-field>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="generator">
    <app-password-part></app-password-part>
  </div>



</div>
