a {
  color:  var(--bs-gray-500);
}

a {
  color: var(--bs-gray-500);
}

.wrapper {
  background: rgb(11,80,58);
  background: linear-gradient(0deg, rgba(11,80,58,1) 0%, rgba(0,0,0,1) 64%);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  /*left: 0;*/
}

.generator {
  margin-left: -600px;
  /*margin-right: 350px;*/
  margin-top: 200px;
}
