.card{
  width: 30%;
  height: 30%;
  margin-left: 13%;
  margin-top: 10%;
}

.card{
  width: 323px;
  height: 118px;
  background: rgba(0,0,0,0.25);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.cross{
  color: #fff;
  position: absolute;
  /*font-family: Roboto ;*/
  font-size: 18px;
  margin-left: 110px;
  margin-top: -46px;
}


#image_cross{
  width: 70px;
  height: 67px;
  margin-left: 32px;
  margin-top: 25px;
}



