@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #202020;
  text-align: center;
  align-items: center;
  /*z-index: 9999;*/
}

.green {
  color: #148D65;
}

.rest {
  color: #afafaf;
}

.name {
  margin-left: 1%;
  font-family: 'Roboto', 'sans-serif';
  font-size: 40px;
}

.name:hover {
  cursor: pointer;
}

.login-register-section {
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  color: #afafaf;
}

.wrapper {
  display: flex;
  flex-flow: nowrap;
}

.login {
  width: 96px;
  height: 100%;
}

.register {
  height: 100%;
  width: 195px;
}

.to-accounts {
  height: 100%;
  width: 195px;
}

.login:hover {
  cursor: pointer;
}
.register:hover {
  cursor: pointer;
}
.to-accounts:hover {
  cursor: pointer;
}
