<header class="header" >
  <div class="name" id="top" (click)="toTop()">
    <span class="green">S</span>
    <span class="rest">pakee</span>
  </div>

  <div class="login-register-section">
    <div class="wrapper" *ngIf="!isInSystem; else inSystem">
      <div class="login">
        <span>Вхід</span>
      </div>
      <div class="register">
        <span>Зареєструватися</span>
      </div>
    </div>

    <ng-template #inSystem>
      <div class="to-accounts">Облікові записи</div>
    </ng-template>
  </div>
</header>

<button style="margin-top: 100px" (click)="switch()">switch</button>




