.wrapper {
  display: flex;
  width: 633px;
  height: 634px;
  background: #148D65;
  margin: 0 auto;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
}



.box {
  width: 400px;
  /*padding: 40px;*/
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"] {
  background: none;
  display: block;
  margin:  auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: #000;
  background: #fff;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus {
  width: 500px;
  border-color: #2ecc71;
}

.box input[type = "submit"] {
  width: 190px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #000;
  padding: 14px 40px;
  outline: none;
  color: white;
  background: #000;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background: #2ecc71;
  border: 2px solid #2ecc71;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
