<div class="wrapper password-part">
  <form>
    <div class="form-control">
      <img src="../../../../assets/images/geom.png" class="form-control_image" alt="geom" id="image_cross">
      <div class="form-control_password-block"><label for="password" class="form-password_label">
        <input name="password" type="text" id="password" [(ngModel)]="password" class="form-password_input"
               placeholder="write password" value="{{generatedPassword}}"/>
        <span class="security"></span>
        <span class="form-password_invalid" *ngIf="!settings['uppercase'].valid"> &bull; uppercase</span>
        <span class="form-password_invalid" *ngIf="!settings['lowercase'].valid">&bull; lowercase</span>
        <span class="form-password_invalid" *ngIf="!settings['numbers'].valid">&bull; numbers</span>
        <span class="form-password_invalid" *ngIf="!settings['extra'].valid">&bull; extra</span>
      </label>
      </div>
      <div class="form-button_block">
        <button class="form-button_block_button form-button" type="button" (click)="generate()">Згенерувати</button>
        <button class="form-button_block_button form-button" type="button" (click)="check()">Перевірити</button>
      </div>
      <h4 class="form-settings_title"> Налаштування </h4>
      <div class="form-settings_block">

        <label for="uppercase" class="form-settings_block_label">
          <span class="form-settings_block_label-text">A-Z</span>

          <div class="toggle-button toggle-button--tuuli">
            <input type="checkbox" id="uppercase" [(ngModel)]="settings['uppercase'].isChecked" name="uppercase">
            <label for="uppercase"></label>
            <span class="toggle-button__icon"></span>

          </div>
        </label>

        <label for="lowercase" class="form-settings_block_label">
          <span class="form-settings_block_label-text">a-z</span>
          <div class="toggle-button toggle-button--tuuli">
            <input type="checkbox" id="lowercase" name="lowercase" [(ngModel)]="settings['lowercase'].isChecked">
            <label for="lowercase"></label>
            <span class="toggle-button__icon"></span>

          </div>
        </label>

        <label for="numbers" class="form-settings_block_label">
          <span class="form-settings_block_label-text">0-9</span>
          <div class="toggle-button toggle-button--tuuli">
            <input id="toggleButton4" type="checkbox" id="numbers" [(ngModel)]="settings['numbers'].isChecked"
                   name="numbers">
            <label for="numbers"></label>
            <span class="toggle-button__icon"></span>

          </div>
        </label>

        <label for="extra" class="form-settings_block_label">
          <span class="form-settings_block_label-text">!@#$</span>
          <div class="toggle-button toggle-button--tuuli">
            <input id="toggleButton3" type="checkbox" id="extra" [(ngModel)]="settings['extra'].isChecked" name="extra">
            <label for="extra"></label>
            <span class="toggle-button__icon"></span>
          </div>
        </label>
      </div>
    </div>

  </form>
</div>
