<div class="wrapper">
  <div class="input">
    <!--<nb-card>
      <input type="text" nbInput fullWidth shape="round" placeholder="Пароль...">
    </nb-card>

  </div>
  <div class="buttons">
    <button nbButton shape="round" size="small" status="success">Згенерувати</button>
    <button nbButton shape="round" size="small" status="success">Перевірити</button>
  </div>-->
    <form class="box">
      <input type="text" name="" placeholder="Password">
      <div class="buttons">
        <input type="submit" name="" value="Згенерувати">
        <input type="submit" name="" value="Перевірити">
      </div>

    </form>
  </div>
</div>
