.wrapper {
  /*height: 634px;*/
  width: 100%;
  max-width: 633px;
  background: #148D65;
  /*margin: 0 auto;*/
  margin: -80px auto;
  border-radius: 35px;
  font-size: 18px;
}

.form-control {
  padding: 0 30px 20px 30px;
}

.form-button {
  padding: 5px 40px;
  color: #E5E5E5;
  background-color: #000;
  border-radius: 30px;
  cursor: pointer;
  outline: inherit;
  border: 0;
  font-size: 20px;
}

.form-control_image {
  width: 100%;
  padding-bottom: 20px;
}

.form-button_block {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.form-control_password-block {
  padding: 0 20px;
}

.form-password_input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 20px;
  outline: inherit;
  border: 0;
  background-color: #E5E5E5;

}

.form-password_invalid {
  padding: 5px;
  color: #8f1616;
  display: block;
}

.form-settings_block {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 0 60px;
}

.form-settings_title {
  padding: 10px 0;
  color: #E5E5E5;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.form-settings_block_label {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: #E5E5E5;
}

.form-settings_block_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 30px;
}


.toggle-button {
  margin: 0 20px;
}

.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}

.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}

.toggle-button input {
  display: none;
}

.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}

.toggle-button__icon:before, .toggle-button__icon:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}

.toggle-button--tuuli label {
  height: 30px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}

.toggle-button--tuuli label:before, .toggle-button--tuuli label:after {
  position: absolute;
  right: 1rem;
  transition: all 0.2s .1s ease-out;
}

.toggle-button--tuuli input[type=checkbox] + label {
  width: 50px;
  background: #fd7536;
}

.toggle-button--tuuli input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}

.toggle-button--tuuli input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.toggle-button--tuuli input[type=checkbox]:checked ~ label {
  width: 50px;
  background: #0B503AFF;
}

.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1);
}

.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}

.toggle-button--tuuli .toggle-button__icon {
  position: absolute;
  height: 30px;
  width: 50px;
  top: 0;
  left: 0;
}

.toggle-button--tuuli .toggle-button__icon:before, .toggle-button--tuuli .toggle-button__icon:after {
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: -10%;
  top: 48%;
}

.toggle-button--tuuli .toggle-button__icon:before {
  transform: rotate(45deg);
}

.toggle-button--tuuli .toggle-button__icon:after {
  transform: rotate(-45deg);
}


.form-settings_block_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #127F5B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #E5E5E5;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #127F5B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #127F5B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.security {
  color: #FFFFFF;
  text-align: center;
  display: block;
}
