<div
  style="height: 60px; margin: 20px 10px 93px; width: 687px;border-radius: 30px; border: 1px solid #333333;">
  <div class="row" style="width: 687px;height: 60px;margin-left: 10px;margin-right: 19px;">
    <div class="col offset-xxl-0" style="height: 60px;max-width: 226px;">
      <div style="max-width: 229px;height: 60px;"></div>
    </div>
    <div class="col offset-xxl-0" style="height: 60px;max-width: 226px;">
      <div style="max-width: 229px;height: 60px;"></div>
    </div>
    <div class="col offset-xxl-0" style="height: 60px;max-width: 226px;">
      <div style="max-width: 229px;height: 60px;"></div>
    </div>
  </div>

  <button class="btn btn-primary" type="button"
          style="width: 189px;height: 38px;border-radius: 20px;background: #000;border: 1px solid #A056FF;margin: 20px 50px 0px 110px;color: #ffffff">
    Редагувати
  </button>
  <button class="btn btn-primary" type="button"
          style="width: 189px;height: 38px;border-radius: 20px;background: #000;border: 1px solid #FF8946;margin: 0 50px; color: #ffffff">
    Видалити
  </button>

</div>
