<div class="text-part_wrapper">
  <h2 class="text-part_title"><span class="highlight">Safe</span> password keeper</h2>
  <h4 class="text-part_subtitle">π!$9@тий менеджер облікових записів</h4>
  <p class="text-part_paragraph">
    Згенеруй свій надійний пароль та назавжди забудь про шахраїв! Хочеш, аби всі твої паролі зберігалися і тобі не
    доводилося їх шукати? Реєструйся, ми гарантуємо захист твоїх даних.</p>

  <p class="text-part_paragraph">“Spakee” турбується про твою безпеку. А ти?</p>
</div>
