.container {
  width: 100%;
  height: 100vh;
  background: url("src/assets/images/bg.png");
}

.cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 70px 125px 55px 125px;

}
